<section class="vh-100">
  <div class="container">
    <div class="row">
      <div class="col image-col">
        <img src="assets/objectiva.png" alt="Sample image" class="img-fluid">
      </div>
      <div class="col form-col">
        
        <!-- Error Handling -->
        <div *ngIf="hasErrors()" class="border-danger border-dashed rounded-2 mb-3 p-3">
          <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="text-danger">
            Title is required
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="text-danger">
            Author is required
          </div>
          <div *ngIf="loginForm.get('quantity')?.invalid && (loginForm.get('quantity')?.dirty || loginForm.get('quantity')?.touched)" class="text-danger">
            Quantity is required
          </div>
        </div>
        
        <!-- Form: Login or Registration -->
        <form *ngIf="isLoginView" [formGroup]="loginForm" (ngSubmit)="login()">
          <h1>O B J E C T I V A</h1>
          <div class="divider"></div>

          <!-- Email Input -->
          <div class="form-group">
            <input formControlName="email" id="email" placeholder=" ">
            <label for="email">Email address</label>
          </div>

          <!-- Password Input -->
          <div class="form-group password-group">
            <input [type]="passwordFieldType" formControlName="password" id="password" placeholder=" ">
            <label for="password">Password</label>
            <i class="toggle-password fas" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
          </div>

          <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">Login</button>
          <p class="register">Don't have an account? <a class="register-link" (click)="isLoginView = false">Register</a></p>
        </form>

        <form *ngIf="!isLoginView" [formGroup]="registerForm" (ngSubmit)="register()">
          <h1>O B J E C T I V A</h1>
          <div class="divider"></div>

          <!-- First Name Input -->
          <div class="form-group">
            <input formControlName="fname" id="fname" placeholder=" ">
            <label for="fname">First Name</label>
          </div>

          <!-- Last Name Input -->
          <div class="form-group">
            <input formControlName="lname" id="lname" placeholder=" ">
            <label for="lname">Last Name</label>
          </div>

          <!-- Email Input -->
          <div class="form-group">
            <input formControlName="email" id="email" placeholder=" ">
            <label for="email">Email address</label>
          </div>

          <!-- Password Input -->
          <div class="form-group password-group">
            <input [type]="passwordFieldType" formControlName="password" id="password" placeholder=" ">
            <label for="password">Password</label>
            <i class="toggle-password fas" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
          </div>

          <button type="submit" class="btn login-btn" [disabled]="registerForm.invalid">Register</button>
          <p class="register">Already have an account? <a class="register-link" (click)="isLoginView = true">Login</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
