<div class="header">
    <i class="fa fa-times close-icon" (click)="closeLesson()"></i>
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress" [style.width]="progress + '%'"></div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Exercise Components -->
  <app-exercise1-inheritance 
    *ngIf="currentExercise === 1" 
    (nextExercise)="onNextExercise()">
  </app-exercise1-inheritance>
  
  <app-exercise2-inheritance 
    *ngIf="currentExercise === 2" 
    (nextExercise)="onNextExercise()">
  </app-exercise2-inheritance>
  
  <app-exercise3-inheritance 
    *ngIf="currentExercise === 3" 
    (nextExercise)="onNextExercise()">
  </app-exercise3-inheritance>
  
  <!-- Navigation Buttons -->
  <!-- <div>
    <button *ngIf="currentExercise > 1" (click)="goToPreviousExercise()">Previous</button>
    <button *ngIf="currentExercise < totalExercises" (click)="goToNextExercise()">Next</button>
  </div> -->