<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Method Overriding</h1>
                    <p class="lead text-white-50 mb-4">Discover the difference between overriding and overloading, and the use of the &commat;Override annotation.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-outline-light btn-lg px-4" [routerLink]="'/lessons/topics/inheritance/methods-overriding'">Start Lesson</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <div class="instructions">
        <h2>Instructions</h2>
        <p class="ins">
            Click <img src="assets/next.png" class="ins-img" alt="Next"> to go to the next step or topic, and <img src="assets/finish.png" class="ins-img" alt="Finish"> to finish the lesson.
        </p>
    </div>    <div class="container px-5 my-5">
        <h1 class="feature-title">What you will learn in this lesson?</h1>
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-sync-alt feature-icon"></i>
                    <h2 class="h4 fw-bolder">What is Method Overriding?</h2>
                    <p class="text-muted">Understand the concept of method overriding in OOP.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-exchange-alt feature-icon"></i>
                    <h2 class="h4 fw-bolder">Overriding vs Overloading</h2>
                    <p class="text-muted">Learn the difference between method overriding and overloading.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-at feature-icon"></i>
                    <h2 class="h4 fw-bolder">The &commat;Override Annotation</h2>
                    <p class="text-muted">Discover the use of the &commat;Override annotation in Java.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-arrow-up feature-icon"></i>
                    <h2 class="h4 fw-bolder">Using Super in Inheritance</h2>
                    <p class="text-muted">Learn how to use the super keyword in method overriding.</p>
                </div>
            </div>
        </div>
    </div>
</section>