<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Implementation in Java</h1>
                    <p class="lead text-white-50 mb-4">Learn the syntax and best practices for implementing inheritance in Java with examples and use cases.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-outline-light btn-lg px-4" [routerLink]="'/lessons/topics/inheritance/inheritance-implementation-in-java'">Start Lesson</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <div class="instructions">
        <h2>Instructions</h2>
        <p class="ins">
            Click <img src="assets/next.png" class="ins-img" alt="Next"> to go to the next step or topic, and <img src="assets/finish.png" class="ins-img" alt="Finish"> to finish the lesson.
        </p>
    </div>    <div class="container px-5 my-5">
        <h1 class="feature-title">What you will learn in this lesson?</h1>
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fab fa-java feature-icon"></i>
                    <h2 class="h4 fw-bolder">Syntax for Inheritance</h2>
                    <p class="text-muted">Learn the syntax for implementing inheritance in Java.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-code feature-icon"></i>
                    <h2 class="h4 fw-bolder">Examples of Inheritance</h2>
                    <p class="text-muted">See examples of inheritance in Java.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-check-circle feature-icon"></i>
                    <h2 class="h4 fw-bolder">Best Practices</h2>
                    <p class="text-muted">Discover best practices for using inheritance in Java.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-briefcase feature-icon"></i>
                    <h2 class="h4 fw-bolder">Common Use Cases</h2>
                    <p class="text-muted">Learn about common use cases for inheritance in Java.</p>
                </div>
            </div>
        </div>
    </div>
</section>