body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.score-header {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .score-header h2 {
    margin-bottom: 10px;
    color: #00796b;
  }
  
  .score-header .score {
    font-size: 1.5em;
    color: #004d40;
  }
  
  .score-header button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
    margin: auto;
}

.quiz-header {
    padding: 2rem;
    text-align: center;
}

h2 {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
}

.answers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.answer-container {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.answer-container:hover {
    background-color: #e0e0e0;
}

.answer-container input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.answer-container label {
    display: block;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    height: 100%;
}

.answer-container input[type="radio"]:checked + label {
    background-color: #03cae4;
    color: #fff;
    border-radius: 8px;
}

button {
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #04adc4;
}
pre{
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    overflow-x: auto;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}
.feedback{
    color: black;
    font-size: 1.2rem;
    text-align: left;
    
}