<div class="background-container">
    <div class="container">
        <h1>OBJECTIVA's Exercises</h1>
        <p class="description">Test your understanding of Object-Oriented Programming concepts with these engaging exercises.</p>
    
        <div class="exercise-grid" >
            <div class="exercise-item" (click)="startExercise3()">
                <div class="exercise-icon"><i class="fas fa-sitemap"></i></div>
                <div class="exercise-title">INHERITANCE</div>
                <!-- <div class="exercise-desc">Lorem Ipsum</div> -->
            </div>
            <div class="exercise-item" (click)="startExercise4()">
                <div class="exercise-icon"><i class="fas fa-random"></i></div>
                <div class="exercise-title">POLYMORPHISM</div>
                <!-- <div class="exercise-desc">Lorem Ipsum</div> -->
            </div>
            <div class="exercise-item" (click)="startExercise2()">
                <div class="exercise-icon"><i class="fas fa-shield-alt"></i></div>
                <div class="exercise-title">ENCAPSULATION</div>
                <!-- <div class="exercise-desc">Lorem Ipsum</div> -->
            </div>
            <div class="exercise-item" (click)="startExercise1()">
                <div class="exercise-icon"><i class="fas fa-layer-group"></i></div>
                <div class="exercise-title">ABSTRACTION</div>
                <!-- <div class="exercise-desc">Lorem Ipsum</div> -->
            </div>
        </div>
    </div>
</div>
