.background-container {
    width: 100%;
    height: 90%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Ctext x='10' y='50' font-size='24' font-family='Arial, sans-serif' fill='%23000' %3E%26lt%3B/%26gt%3B%3C/text%3E%3C/svg%3E");
    background-size: 80px 80px; /* Spacing between dots */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveBackground 20s linear infinite;
  }
  
  @keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

header {
    background-color: #ffffff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1300px;
    padding: 50px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea;
    animation: slideUp 0.5s ease-out;
}
@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

h1 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    color: #383838;
    margin-bottom: 30px;
    width: 80%;
}

.exercise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.exercise-item {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
}

.exercise-item:hover {
    background-color: #ffffff;
        transform: translateY(-10px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    
        .exercise-icon {
          font-size: 3.5rem;
          color: #181818;
            margin-bottom: 15px;
        }
}

.exercise-icon {
  font-size: 3.5rem;
  color: #4e4e4e;
    margin-bottom: 15px;
}

.exercise-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.exercise-desc {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #202020;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: background-color 0.5s;
    transition: transform 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-10px);

}