<main>
    <div class="first-container">
        <h2>Start Learning</h2>
        <h1>Object-Oriented Programming</h1>
        <h2>Four Principles</h2>
        <div class="difficulty-options">
            <span class="option" (click)="selectDifficulty('abstraction')">Abstraction</span>
            <span class="option" (click)="selectDifficulty('encapsulation')">Encapsulation</span>
            <span class="option" (click)="selectDifficulty('inheritance')">Inheritance</span>
            <span class="option" (click)="selectDifficulty('polymorphism')">Polymorphism</span> 
        </div>
        <div class="selected-line"></div>
        <div class="difficulty-container">
            <div *ngIf="selectedDifficulty === 'abstraction'">
                <div class="lesson-container slide-right">
                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-1.png" alt="">
                                <h3>Understanding Abstraction</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Gain insights into the concept of abstraction, its levels, benefits, and real-world examples.</p>
                                <a routerLink='/lessons/topics/abstraction/understanding-abstraction-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-2.png" alt="">
                                <h3>Abstract Classes</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Learn about abstract classes, including their creation, methods, and practical applications.</p>
                                <a routerLink='/lessons/topics/abstraction/abstract-classes-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-3.png" alt="">
                                <h3>Interfaces</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Understand what interfaces are, how to implement them, and how they compare to abstract classes.</p>
                                <a routerLink='/lessons/topics/abstraction/interfaces-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedDifficulty === 'encapsulation'">
                <div class="lesson-container slide-right">
                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-4.png" alt="">
                                <h3>Understanding Encapsulation</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Discover the concept of encapsulation, its benefits, data hiding, and real-world examples.</p>
                                <a routerLink='/lessons/topics/encapsulation/understanding-encapsulation-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-5.png" alt="">
                                <h3>Access Modifiers</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Learn about access control in Java using public, private, protected, and default modifiers.</p>
                                <a routerLink='/lessons/topics/encapsulation/access-modifiers-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-6.png" alt="">
                                <h3>Getters and Setters</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Understand the purpose, implementation, and best practices for getters and setters.</p>
                                <a routerLink='/lessons/topics/encapsulation/getters-and-setters-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedDifficulty === 'inheritance'">
                <div class="lesson-container slide-right">
                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-7.png" alt="">
                                <h3>Understanding Inheritance</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Explore the concept, types, benefits, and real-world applications of inheritance in programming.</p>
                                <a routerLink='/lessons/topics/inheritance/understanding-inheritance-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-8.png" alt="">
                                <h3>Types of Inheritance in Java</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Understand single, multilevel, and hierarchical inheritance and why Java lacks multiple inheritance.</p>
                                <a routerLink='/lessons/topics/inheritance/types-of-inheritance-in-java-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-9.png" alt="">
                                <h3>Method Overriding</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Discover the difference between overriding and overloading, and the use of the  &#64;Override annotation.</p>
                                <a routerLink='/lessons/topics/inheritance/methods-overriding-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedDifficulty === 'polymorphism'">
                <div class="lesson-container slide-right">
                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-10.png" alt="">
                                <h3>Understanding Polymorphism</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Learn the concept, types, and benefits of polymorphism, along with real-world applications.</p>
                                <a routerLink='/lessons/topics/polymorphism/understanding-polymorphism-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-11.png" alt="">
                                <h3>Compile-time Polymorphism (Static)</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Explore method and constructor overloading, operator overloading, and type promotion in Java.</p>
                                <a routerLink='/lessons/topics/polymorphism/compile-time-polymorphism-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/home-12.png" alt="">
                                <h3>Runtime Polymorphism (Dynamic)</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Dive into dynamic method dispatch, virtual methods, and late binding in runtime polymorphism.</p>
                                <a routerLink='/lessons/topics/polymorphism/runtime-polymorphism-overview'>Learn Lesson</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="quiz-container">
        <div class="quiz-section">
            <div class="content">
              <div class="header">
                <div class="logo">Objectiva <span>QUIZ</span></div>
              </div>
              <h1>Test your skills and knowledge</h1>
              <p>With Objectiva's quizes, assess and strengthen your expertise, all while keeping learning!</p>
              <button class="cta-button" (click)="toQuiz()">Explore Quiz</button>
            </div>
            
            <div class="logos">
              <img src="assets/logo.png" alt="logo">
            </div>
          </div>
    </div>

    <div class="exercise-container">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/home-eee.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Enagaging Challenging Exercises</h1>
                <p class="lead">Enhance your coding skills with our exercises including 4 Pics 1 Word, Drag and Drop, and Fill in the Blanks. Challenge yourself and learn in a fun and engaging way!</p>                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" (click)="toExercise()">Explore Exercise</button>
                </div>
              </div>
            </div>
          </div>
    </div>
<app-footer></app-footer>
</main>