<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Java Bean Standard</h1>
                    <p class="lead text-white-50 mb-4">Explore the Java Bean Standard, its properties, conventions, and implementation.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-outline-light btn-lg px-4" [routerLink]="'/lessons/topics/encapsulation/java-bean-standard'">Start Lesson</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <p class="ins">Click <img src="assets/next.png" class="ins-img"> to go to the next step or topic and <img src="assets/finish.png" class="ins-img"> to finish the lesson.</p>
    <div class="container px-5 my-5">
        <h1 class="feature-title">What you will learn in this lesson?</h1>
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-list feature-icon"></i>
                    <h2 class="h4 fw-bolder">Properties</h2>
                    <p class="text-muted">Understand the properties that define a Java Bean.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-code feature-icon"></i>
                    <h2 class="h4 fw-bolder">Methods</h2>
                    <p class="text-muted">Learn about the methods required for a class to be a Java Bean.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-clipboard-check feature-icon"></i>
                    <h2 class="h4 fw-bolder">Conventions</h2>
                    <p class="text-muted">Follow naming and structural conventions for Java Beans.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-5">
                <div class="feature-box">
                    <i class="fas fa-check feature-icon"></i>
                    <h2 class="h4 fw-bolder">Implementation</h2>
                    <p class="text-muted">Learn how to implement and use Java Beans in your projects.</p>
                </div>
            </div>
        </div>
    </div>
</section>
