<section class="row w-100">
    <div class="col-xl-6">
       <div>
            <div class="m-5 mb-0 bg-dark text-light p-5 lh-lg one" style="text-align: justify;">
                <h3 class="mb-4" style="letter-spacing: 10px;">ABOUT US</h3>

                Hi there! Welcome to OBJECTIVA!
    
                We’re a group of student developers passionate about making Object-Oriented Programming (OOP) in Java easier to learn and understand. As students ourselves, we know how challenging programming concepts can feel at first—that’s why we created this platform to help others navigate OOP with confidence and clarity.
            </div>

            <div class="mx-5 mt-2 p-5 lh-lg two" style="text-align: justify;">
                <h3 class="mb-4 text-secondary" style="letter-spacing: 10px;">WHAT WE DO </h3>

                <p class="fw-bold">
                    We’re not experts (yet!), but we’re dedicated to making this platform as helpful and accessible as possible. Our focus is on creating a fun and engaging way to learn the core ideas behind Java’s OOP concepts, especially for fellow students like us.

                    This website is part of our capstone project at Holy Angel University, and it’s our way of contributing to the learning journey of others while improving our own skills as developers.

                    Thank you for visiting OBJECTIVA! We hope you find this platform useful and enjoyable. Let’s learn and grow together!
                </p>
            </div>
       </div>
    </div>

    <div class="col-xl-6 position-relative mt-5 three">
        <img src="assets/logo.png" alt="" class="img-fluid w-50 h-60 position-absolute start-50 top-50 translate-middle">
    </div>
 </section>

<!-- MEET OUR TEAM -->
    <section class="h-75 m-5 m-lg-5 four">
    <h1 class="text-center m fw-bold" style="letter-spacing: 8px;">Our Team</h1>
    <h4 class="text-center fw-light mt-4 mb-5">Meet the Team! We are a group of passionate students working together to bring our ideas to life.</h4>
    <div class="d-flex justify-content-center align-items-center flex-wrap ">
            <div class="card text-center shadow mx-3 mx-lg-4 my-3 my-lg-0 p-3" style="width: 18rem;">
            <img src="https://scontent.fcrk1-5.fna.fbcdn.net/v/t1.15752-9/473635445_1115532696503741_172484585298481700_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9f807c&_nc_ohc=Tti529UbJMoQ7kNvgF8LUNN&_nc_oc=AdhwXUaEAPDf0fdqS-vUUA7G2PvdUL0emvM4bq9uMs-MqNojomniwd3J1pa3TbviUgw&_nc_zt=23&_nc_ht=scontent.fcrk1-5.fna&oh=03_Q7cD1gHbGySCdvfQZTTLDHlG1N8joR-tEYKOo38EtHulAl9avg&oe=67C0712F" class="card-img-top rounded-circle mx-auto mt-3" alt="Profile" style="width: 100px; height: 100px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title fw-bold">Patrick Perez</h5>
                <p class="card-text text-secondary">Developer</p>
                <div class="d-flex justify-content-center">
                    <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
                </div>
            </div>            
            </div>


            <div class="card text-center shadow mx-3 mx-lg-4 my-3 my-lg-0 p-3" style="width: 18rem;">
                <img src="https://scontent.fcrk1-5.fna.fbcdn.net/v/t1.15752-9/474773366_1765837894239214_8300532221672947822_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=9f807c&_nc_ohc=jCT0_QHNxBEQ7kNvgF9eiVk&_nc_oc=AdgrMrM1T1W9qbmE_uhk8EpVWZaC0xduS_a9UxumM0nW-gPALBPCX27IAl4bpZcfxaY&_nc_zt=23&_nc_ht=scontent.fcrk1-5.fna&oh=03_Q7cD1gGxFIMueyh7Wdksg9FcDIo7big3K_GXpQ-Qctx7JlJOTg&oe=67C03EBC" class="card-img-top rounded-circle mx-auto mt-3" alt="Profile" style="width: 100px; height: 100px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Aaron Punzalan</h5>
                    <p class="card-text text-secondary">Developer</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="card text-center shadow mx-3 mx-lg-4 my-3 my-lg-0 p-3" style="width: 18rem;">
                <img src="https://scontent.fcrk1-5.fna.fbcdn.net/v/t1.15752-9/474773366_1765837894239214_8300532221672947822_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=9f807c&_nc_ohc=jCT0_QHNxBEQ7kNvgF9eiVk&_nc_oc=AdgrMrM1T1W9qbmE_uhk8EpVWZaC0xduS_a9UxumM0nW-gPALBPCX27IAl4bpZcfxaY&_nc_zt=23&_nc_ht=scontent.fcrk1-5.fna&oh=03_Q7cD1gGxFIMueyh7Wdksg9FcDIo7big3K_GXpQ-Qctx7JlJOTg&oe=67C03EBC" class="card-img-top rounded-circle mx-auto mt-3" alt="Profile" style="width: 100px; height: 100px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Chrisjohn Crisostomo</h5>
                    <p class="card-text text-secondary">Developer</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="card text-center shadow mx-3 mx-lg-4 my-3 my-lg-0 p-3" style="width: 18rem;">
                <img src="https://scontent.fcrk1-5.fna.fbcdn.net/v/t1.15752-9/474773366_1765837894239214_8300532221672947822_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=9f807c&_nc_ohc=jCT0_QHNxBEQ7kNvgF9eiVk&_nc_oc=AdgrMrM1T1W9qbmE_uhk8EpVWZaC0xduS_a9UxumM0nW-gPALBPCX27IAl4bpZcfxaY&_nc_zt=23&_nc_ht=scontent.fcrk1-5.fna&oh=03_Q7cD1gGxFIMueyh7Wdksg9FcDIo7big3K_GXpQ-Qctx7JlJOTg&oe=67C03EBC" class="card-img-top rounded-circle mx-auto mt-3" alt="Profile" style="width: 100px; height: 100px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Reuben Rob Sibal</h5>
                    <p class="card-text text-secondary">Developer</p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
    </div>
</section>
<app-footer></app-footer>