<body>
  <div class="quiz-container">
      <!-- Score Section -->
      <div class="score-header" *ngIf="showScore">
        <h2>Your Score</h2>
        <p class="score">{{ score }}/{{ quizData.length }} questions correctly answered</p>
        <p class="feedback">{{higher}}</p>
        <p class="feedback">{{feedback}}</p>
        <button (click)="resetQuiz()">Restart Quiz</button>
        <button (click)="backtoQuiz()">Back to Dashboard</button>
      </div>
    
      <!-- Quiz Section -->
      <div class="quiz-header" *ngIf="!showScore">
        <h2>{{ quizData[currentQuiz].question }}</h2>
        <pre>{{ quizData[currentQuiz].code }}</pre>
        
        <div class="answers-grid">
          <div class="answer-container" *ngFor="let option of answerOptions">
            <input
              type="radio"
              name="answer"
              [id]="option.id"
              [(ngModel)]="selectedAnswer"
              [value]="option.id"
            />
            <label [for]="option.id">{{ option.text }}</label>
          </div>
        </div>
        <button [disabled]="!selectedAnswer" (click)="onSubmit()">Submit</button>
      </div>
    </div>
    
</body>
