<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Understanding Objects and Classes</h1>
                    <p class="lead text-white-50 mb-4">Dive into the world of Object-Oriented Programming by exploring the foundational concepts of objects and classes, their relationship, and how they map to real-world scenarios.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-outline-light btn-lg px-4" [routerLink]="'/lessons/topics/introduction/understanding-object-and-classes'">Start Lesson</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section -->
<section class="py-5 border-bottom" id="features">
    <div class="instructions">
        <h2>Instructions</h2>
        <p class="ins">
            Click <img src="assets/next.png" class="ins-img" alt="Next"> to go to the next step or topic, and <img src="assets/finish.png" class="ins-img" alt="Finish"> to finish the lesson.
        </p>
    </div>    <div class="container px-5 my-5">
        <h1 class="feature-title">What you will learn in this lesson:</h1>
        <div class="row gx-4 justify-content-center"> <!-- Changed from gx-1 to gx-4 -->
            <!-- Lesson 1 -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature-box">
                    <i class="fas fa-box-open feature-icon"></i>
                    <h2 class="h4 fw-bolder">What are Objects in Programming?</h2>
                    <p class="text-muted">Learn what objects are and their role in programming as encapsulations of data and behavior.</p>
                </div>
            </div>
            <!-- Lesson 2 -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature-box">
                    <i class="fas fa-drafting-compass feature-icon"></i>
                    <h2 class="h4 fw-bolder">What is a Class?</h2>
                    <p class="text-muted">Understand the concept of classes as blueprints for objects and how they define behavior and attributes.</p>
                </div>
            </div>
            <!-- Lesson 3 -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <div class="feature-box">
                    <i class="fas fa-sitemap feature-icon"></i>
                    <h2 class="h4 fw-bolder">Relationship Between Classes and Objects</h2>
                    <p class="text-muted">Explore the connection between classes and objects, and how they work together in programming.</p>
                </div>
            </div>

        </div>
    </div>
</section>